<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Activities_init() hook (in hooks/Activities.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Activities-Date-<%%VALUE(id)%%>" class="Activities-Date"><%%SELECT%%><%%VALUE(Date)%%><%%ENDSELECT%%></td>
		<td id="Activities-Description-<%%VALUE(id)%%>" class="Activities-Description"><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></td>
		<td id="Activities-Comment-<%%VALUE(id)%%>" class="Activities-Comment"><%%SELECT%%><%%VALUE(Comment)%%><%%ENDSELECT%%></td>
		<td id="Activities-Priority-<%%VALUE(id)%%>" class="Activities-Priority"><%%SELECT%%><%%VALUE(Priority)%%><%%ENDSELECT%%></td>
		<td id="Activities-Assigned-<%%VALUE(id)%%>" class="Activities-Assigned"><%%SELECT%%><%%VALUE(Assigned)%%><%%ENDSELECT%%></td>
		<td id="Activities-Completed-<%%VALUE(id)%%>" class="Activities-Completed"><%%SELECT%%><%%VALUE(Completed)%%><%%ENDSELECT%%></td>
		<td id="Activities-Stop-<%%VALUE(id)%%>" class="Activities-Stop"><%%SELECT%%><%%VALUE(Stop)%%><%%ENDSELECT%%></td>
