<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CCJournal_init() hook (in hooks/CCJournal.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CCJournal-Card-<%%VALUE(id)%%>" class="CCJournal-Card"><%%VALUE(Card)%%></td>
		<td id="CCJournal-Date-<%%VALUE(id)%%>" class="CCJournal-Date"><%%VALUE(Date)%%></td>
		<td id="CCJournal-Description-<%%VALUE(id)%%>" class="CCJournal-Description"><%%VALUE(Description)%%></td>
		<td id="CCJournal-Cleared-<%%VALUE(id)%%>" class="CCJournal-Cleared"><%%VALUE(Cleared)%%></td>
		<td id="CCJournal-Amount-<%%VALUE(id)%%>" class="CCJournal-Amount"><%%VALUE(Amount)%%></td>
		<td id="CCJournal-Balance-<%%VALUE(id)%%>" class="CCJournal-Balance text-right"><%%VALUE(Balance)%%></td>
