<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CEO_init() hook (in hooks/CEO.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CEO-Chief-<%%VALUE(id)%%>" class="CEO-Chief"><%%SELECT%%><%%VALUE(Chief)%%><%%ENDSELECT%%></td>
		<td id="CEO-Department-<%%VALUE(id)%%>" class="CEO-Department"><%%SELECT%%><%%VALUE(Department)%%><%%ENDSELECT%%></td>
