<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Claim_init() hook (in hooks/Claim.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Claim-Date-<%%VALUE(id)%%>" class="Claim-Date"><%%VALUE(Date)%%></td>
		<td id="Claim-Invoice-<%%VALUE(id)%%>" class="Claim-Invoice"><%%VALUE(Invoice)%%></td>
		<td id="Claim-Warehouse-<%%VALUE(id)%%>" class="Claim-Warehouse"><%%VALUE(Warehouse)%%></td>
		<td id="Claim-Tracking-<%%VALUE(id)%%>" class="Claim-Tracking"><%%VALUE(Tracking)%%></td>
		<td id="Claim-Selecteds-<%%VALUE(id)%%>" class="Claim-Selecteds"><%%VALUE(Selecteds)%%></td>
		<td id="Claim-Shippingt-<%%VALUE(id)%%>" class="Claim-Shippingt"><%%VALUE(Shippingt)%%></td>
		<td id="Claim-Status-<%%VALUE(id)%%>" class="Claim-Status"><%%VALUE(Status)%%></td>
