<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Compras_init() hook (in hooks/Compras.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Compras-Customer-<%%VALUE(id)%%>" class="Compras-Customer"><%%VALUE(Customer)%%></td>
		<td id="Compras-Employee-<%%VALUE(id)%%>" class="Compras-Employee"><%%VALUE(Employee)%%></td>
		<td id="Compras-Description-<%%VALUE(id)%%>" class="Compras-Description"><%%VALUE(Description)%%></td>
		<td id="Compras-Total-<%%VALUE(id)%%>" class="Compras-Total text-right"><%%VALUE(Total)%%></td>
		<td id="Compras-Odate-<%%VALUE(id)%%>" class="Compras-Odate"><%%VALUE(Odate)%%></td>
		<td id="Compras-ETA-<%%VALUE(id)%%>" class="Compras-ETA"><%%VALUE(ETA)%%></td>
		<td id="Compras-Status-<%%VALUE(id)%%>" class="Compras-Status"><%%VALUE(Status)%%></td>
