<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CustomerAuto_init() hook (in hooks/CustomerAuto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CustomerAuto-Customer-<%%VALUE(id)%%>" class="CustomerAuto-Customer"><%%VALUE(Customer)%%></td>
		<td id="CustomerAuto-VehicleType-<%%VALUE(id)%%>" class="CustomerAuto-VehicleType"><%%VALUE(VehicleType)%%></td>
		<td id="CustomerAuto-VIN-<%%VALUE(id)%%>" class="CustomerAuto-VIN"><%%VALUE(VIN)%%></td>
		<td id="CustomerAuto-Brand-<%%VALUE(id)%%>" class="CustomerAuto-Brand"><%%VALUE(Brand)%%></td>
		<td id="CustomerAuto-Model-<%%VALUE(id)%%>" class="CustomerAuto-Model"><%%VALUE(Model)%%></td>
		<td id="CustomerAuto-Year-<%%VALUE(id)%%>" class="CustomerAuto-Year"><%%VALUE(Year)%%></td>
		<td id="CustomerAuto-EngineNo-<%%VALUE(id)%%>" class="CustomerAuto-EngineNo"><%%VALUE(EngineNo)%%></td>
		<td id="CustomerAuto-Cylinder-<%%VALUE(id)%%>" class="CustomerAuto-Cylinder"><%%VALUE(Cylinder)%%></td>
		<td id="CustomerAuto-Liters-<%%VALUE(id)%%>" class="CustomerAuto-Liters"><%%VALUE(Liters)%%></td>
		<td id="CustomerAuto-Transmission-<%%VALUE(id)%%>" class="CustomerAuto-Transmission"><%%VALUE(Transmission)%%></td>
		<td id="CustomerAuto-GEAR-<%%VALUE(id)%%>" class="CustomerAuto-GEAR"><%%VALUE(GEAR)%%></td>
