<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Invoice_init() hook (in hooks/Invoice.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Invoice-id-<%%VALUE(id)%%>" class="Invoice-id text-right"><%%VALUE(id)%%></td>
		<td id="Invoice-type-<%%VALUE(id)%%>" class="Invoice-type"><%%VALUE(type)%%></td>
		<td id="Invoice-number-<%%VALUE(id)%%>" class="Invoice-number text-right"><%%VALUE(number)%%></td>
		<td id="Invoice-Date-<%%VALUE(id)%%>" class="Invoice-Date"><%%VALUE(Date)%%></td>
		<td id="Invoice-Customer-<%%VALUE(id)%%>" class="Invoice-Customer"><%%VALUE(Customer)%%></td>
		<td id="Invoice-Phone-<%%VALUE(id)%%>" class="Invoice-Phone"><%%VALUE(Phone)%%></td>
		<td id="Invoice-Email-<%%VALUE(id)%%>" class="Invoice-Email"><%%VALUE(Email)%%></td>
		<td id="Invoice-Country-<%%VALUE(id)%%>" class="Invoice-Country"><%%VALUE(Country)%%></td>
		<td id="Invoice-PaymentStatus-<%%VALUE(id)%%>" class="Invoice-PaymentStatus"><%%VALUE(PaymentStatus)%%></td>
		<td id="Invoice-Status-<%%VALUE(id)%%>" class="Invoice-Status"><%%VALUE(Status)%%></td>
		<td id="Invoice-tax-<%%VALUE(id)%%>" class="Invoice-tax"><%%VALUE(tax)%%></td>
		<td id="Invoice-Total-<%%VALUE(id)%%>" class="Invoice-Total"><%%VALUE(Total)%%></td>
		<td id="Invoice-related-<%%VALUE(id)%%>" class="Invoice-related"><%%VALUE(related)%%></td>
