<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Products_init() hook (in hooks/Products.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Products-code-<%%VALUE(id)%%>" class="Products-code"><%%SELECT%%><%%VALUE(code)%%><%%ENDSELECT%%></td>
		<td id="Products-item-<%%VALUE(id)%%>" class="Products-item"><%%SELECT%%><%%VALUE(item)%%><%%ENDSELECT%%></td>
		<td id="Products-cost-<%%VALUE(id)%%>" class="Products-cost text-right"><%%SELECT%%><%%VALUE(cost)%%><%%ENDSELECT%%></td>
		<td id="Products-profit-<%%VALUE(id)%%>" class="Products-profit text-right"><%%SELECT%%><%%VALUE(profit)%%><%%ENDSELECT%%></td>
		<td id="Products-itemSale-<%%VALUE(id)%%>" class="Products-itemSale text-right"><%%SELECT%%><%%VALUE(itemSale)%%><%%ENDSELECT%%></td>
