		<td colspan="5" class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="Products-code-caption field-caption-tv">Code</dt>
					<dd id="Products-code-<%%VALUE(id)%%>" class="Products-code"><%%SELECT%%><%%VALUE(code)%%><%%ENDSELECT%%></dd>

					<dt class="Products-item-caption field-caption-tv">Product</dt>
					<dd id="Products-item-<%%VALUE(id)%%>" class="Products-item"><%%SELECT%%><%%VALUE(item)%%><%%ENDSELECT%%></dd>

					<dt class="Products-cost-caption field-caption-tv">Cost</dt>
					<dd id="Products-cost-<%%VALUE(id)%%>" class="Products-cost text-right"><%%SELECT%%><%%VALUE(cost)%%><%%ENDSELECT%%></dd>

					<dt class="Products-profit-caption field-caption-tv">Profit</dt>
					<dd id="Products-profit-<%%VALUE(id)%%>" class="Products-profit text-right"><%%SELECT%%><%%VALUE(profit)%%><%%ENDSELECT%%></dd>

					<dt class="Products-itemSale-caption field-caption-tv">Total</dt>
					<dd id="Products-itemSale-<%%VALUE(id)%%>" class="Products-itemSale text-right"><%%SELECT%%><%%VALUE(itemSale)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
