<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Return_init() hook (in hooks/Return.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Return-Date-<%%VALUE(id)%%>" class="Return-Date"><%%VALUE(Date)%%></td>
		<td id="Return-Invoice-<%%VALUE(id)%%>" class="Return-Invoice"><%%VALUE(Invoice)%%></td>
		<td id="Return-Warehouse-<%%VALUE(id)%%>" class="Return-Warehouse"><%%VALUE(Warehouse)%%></td>
		<td id="Return-Tracking-<%%VALUE(id)%%>" class="Return-Tracking"><%%VALUE(Tracking)%%></td>
		<td id="Return-Shippingt-<%%VALUE(id)%%>" class="Return-Shippingt"><%%VALUE(Shippingt)%%></td>
		<td id="Return-Status-<%%VALUE(id)%%>" class="Return-Status"><%%VALUE(Status)%%></td>
		<td id="Return-Amount-<%%VALUE(id)%%>" class="Return-Amount text-right"><%%VALUE(Amount)%%></td>
		<td id="Return-Refund-<%%VALUE(id)%%>" class="Return-Refund"><%%VALUE(Refund)%%></td>
