<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Staff_init() hook (in hooks/Staff.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Staff-Photo-<%%VALUE(id)%%>" class="Staff-Photo"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(Photo)%%>" data-lightbox="Staff-Photo"><img src="thumbnail.php?i=<%%VALUE(Photo)%%>&t=Staff&f=Photo&v=tv" class="img-thumbnail"></a></td>
		<td id="Staff-Employee-<%%VALUE(id)%%>" class="Staff-Employee"><%%VALUE(Employee)%%></td>
		<td id="Staff-Birthdate-<%%VALUE(id)%%>" class="Staff-Birthdate"><%%VALUE(Birthdate)%%></td>
		<td id="Staff-Phone-<%%VALUE(id)%%>" class="Staff-Phone"><%%VALUE(Phone)%%></td>
		<td id="Staff-Email-<%%VALUE(id)%%>" class="Staff-Email"><a href="mailto:<%%VALUE(Email)%%>" title="<%%VALUE(Email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="Staff-Province-<%%VALUE(id)%%>" class="Staff-Province"><%%VALUE(Province)%%></td>
		<td id="Staff-Department-<%%VALUE(id)%%>" class="Staff-Department"><%%VALUE(Department)%%></td>
		<td id="Staff-Position-<%%VALUE(id)%%>" class="Staff-Position"><%%VALUE(Position)%%></td>
		<td id="Staff-Director-<%%VALUE(id)%%>" class="Staff-Director"><%%VALUE(Director)%%></td>
		<td id="Staff-Status-<%%VALUE(id)%%>" class="Staff-Status"><%%VALUE(Status)%%></td>
