<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Status_init() hook (in hooks/Status.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Status-Tracking-<%%VALUE(id)%%>" class="Status-Tracking"><%%VALUE(Tracking)%%></td>
		<td id="Status-Dimensions-<%%VALUE(id)%%>" class="Status-Dimensions"><%%VALUE(Dimensions)%%></td>
		<td id="Status-RWeight-<%%VALUE(id)%%>" class="Status-RWeight"><%%VALUE(RWeight)%%></td>
		<td id="Status-VWeight-<%%VALUE(id)%%>" class="Status-VWeight"><%%VALUE(VWeight)%%></td>
		<td id="Status-Total-<%%VALUE(id)%%>" class="Status-Total"><%%VALUE(Total)%%></td>
		<td id="Status-FreightType-<%%VALUE(id)%%>" class="Status-FreightType"><%%VALUE(FreightType)%%></td>
		<td id="Status-DeliveryDate-<%%VALUE(id)%%>" class="Status-DeliveryDate"><%%VALUE(DeliveryDate)%%></td>
		<td id="Status-Delivered-<%%VALUE(id)%%>" class="Status-Delivered"><%%VALUE(Delivered)%%></td>
