<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the SubAccount_init() hook (in hooks/SubAccount.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="SubAccount-account-<%%VALUE(id)%%>" class="SubAccount-account"><%%SELECT%%><%%VALUE(account)%%><%%ENDSELECT%%></td>
		<td id="SubAccount-subAccount-<%%VALUE(id)%%>" class="SubAccount-subAccount"><%%SELECT%%><%%VALUE(subAccount)%%><%%ENDSELECT%%></td>
		<td id="SubAccount-code-<%%VALUE(id)%%>" class="SubAccount-code"><%%SELECT%%><%%VALUE(code)%%><%%ENDSELECT%%></td>
