<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Date<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Warehouse</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Warehouse<%%RND1%%>"><%%COMBOTEXT(Warehouse)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tracking</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Tracking)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Customer</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Customer<%%RND1%%>"><%%COMBOTEXT(Customer)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dimensions</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Dimensions)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Weight</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Weight)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Volume</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Volume)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Total</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Total)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employee</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Employee<%%RND1%%>"><%%COMBOTEXT(Employee)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Freight type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Freight<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Status)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Zone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Zone<%%RND1%%>"></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">DeliveredDate</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(DeliveredDate)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="Tracking-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=Tracking-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'Tracking',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'Tracking-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

