<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the WHJournal_init() hook (in hooks/WHJournal.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="WHJournal-Date-<%%VALUE(id)%%>" class="WHJournal-Date"><%%SELECT%%><%%VALUE(Date)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Freightype-<%%VALUE(id)%%>" class="WHJournal-Freightype"><%%SELECT%%><%%VALUE(Freightype)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Invoices-<%%VALUE(id)%%>" class="WHJournal-Invoices"><%%SELECT%%><%%VALUE(Invoices)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Warehouse-<%%VALUE(id)%%>" class="WHJournal-Warehouse"><%%SELECT%%><%%VALUE(Warehouse)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Tracking-<%%VALUE(id)%%>" class="WHJournal-Tracking"><%%SELECT%%><%%VALUE(Tracking)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-GroundFreight-<%%VALUE(id)%%>" class="WHJournal-GroundFreight"><%%SELECT%%><%%VALUE(GroundFreight)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Boxes-<%%VALUE(id)%%>" class="WHJournal-Boxes"><%%SELECT%%><%%VALUE(Boxes)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Dimensions-<%%VALUE(id)%%>" class="WHJournal-Dimensions"><%%SELECT%%><%%VALUE(Dimensions)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Volume-<%%VALUE(id)%%>" class="WHJournal-Volume text-right"><%%SELECT%%><%%VALUE(Volume)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Weight-<%%VALUE(id)%%>" class="WHJournal-Weight text-right"><%%SELECT%%><%%VALUE(Weight)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-InternationalFreight-<%%VALUE(id)%%>" class="WHJournal-InternationalFreight text-right"><%%SELECT%%><%%VALUE(InternationalFreight)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-LocalFreight-<%%VALUE(id)%%>" class="WHJournal-LocalFreight text-right"><%%SELECT%%><%%VALUE(LocalFreight)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Tip-<%%VALUE(id)%%>" class="WHJournal-Tip text-right"><%%SELECT%%><%%VALUE(Tip)%%><%%ENDSELECT%%></td>
		<td id="WHJournal-Total-<%%VALUE(id)%%>" class="WHJournal-Total text-right"><%%SELECT%%><%%VALUE(Total)%%><%%ENDSELECT%%></td>
